name: CD

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  run-tests-and-deploy:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'development'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: master
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Run basic tests
        run: pytest -q
      
      - name: Run tests with coverage
        run: |
          pytest -q \
            --cov=. \
            --cov-report=term \
            --cov-report=xml \
            --cov-report=html
      
      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/
      
      - name: Upload artifacts to GitHub Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites
      
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4